<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <p>
      <% if user_guess.to_i>(NUMBER+3)%>
      The number is too high
      <br>
      <% elsif user_guess.to_i<(NUMBER-3)%>
      The number is too low<br>
      <% end %>
      <% if user_guess.to_i==NUMBER%>
      Correct! congrats
      <br>The secret number is <%= NUMBER%>
      <% else %>
      Incorrect!<br>
      <%end%>
    </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    The secret number is <%= NUMBER%>
  </body>
</html>
